{% extends "flatpages/default.html" %}

{% load censor %}

{% load cache %}
    {% cache 30 title %}
    {% block title %}
    Новости
    {% endblock title %}
    {% endcache %}

{% block content %}
  <h1>Список новостей</h1>

  {# Добавляем форму, которая объединяет набор полей, которые будут отправляться в запросе #}
   <form action="" method="get">
       {# Переменная, которую мы передали через контекст, может сгенерировать нам форму с полями #}
       {{ filterset.form.as_p }}
       {# Добавим кнопку отправки данных формы #}
       <input type="submit" value="Найти" />
   </form>

   <label for="meeting-time">Choose a time for your appointment:</label>

    <input
      type="datetime-local"
      id="meeting-time"
      name="meeting-time"
      value="2023-01-10T12:00"
      min="2023-01-01T00:00"
      max="2025-01-01T00:00" />

  <hr>
  {% if news_list %}
    <table>
        <tr>
            <td>Заголовок</td>
            <td>Дата</td>
            <td>Описание</td>
        </tr>

        {% for news in news_list %}
        <tr>
            <td>{{ news.title }}</td>
            <td>{{ news.publication_date|date:"d.m.Y" }}</td>
            <td>{{ news.text|slice:":20"|censor }}</td>
            <td><a href="{% url 'news:news_detail' pk=news.pk %}">Подробнее</a></td>
        </tr>
        {% endfor %}

    </table>
  {% else %}
        <h2>Новостей нет!</h2>
  {% endif%}

      {% block pagination %}
        {% if is_paginated %}
            <div class="pagination">
                <span class="page-links">
                    {% if page_obj.has_previous %}
                        <a href="{{ request.path }}?page={{ page_obj.previous_page_number }}">Назад</a>
                    {% endif %}
                    <span class="page-current">
                        страница {{ page_obj.number }} из {{ page_obj.paginator.num_pages }}.
                    </span>
                    {% if page_obj.has_next %}
                        <a href="{{ request.path }}?page={{ page_obj.next_page_number }}">Вперед</a>
                    {% endif %}
                </span>
            </div>
        {% endif %}
      {% endblock pagination %}
{% endblock content %}





