{% extends "flatpages/default.html" %}

{% load censor %}

{% block title %}
Новости
{% endblock title %}

{% block content %}
  <h1>Список новостей</h1>

  <hr>

  {% if perms.news.add_news %}
    <a href="{% url 'news:news_create' %}">Добавить новость</a>
    {% endif %}
  {% if news_list %}
    <table>
        <tr>
            <td>Заголовок</td>
            <td>Дата</td>
            <td>Описание</td>
            <td>Категория</td>

            {% if perms.news.change_product or perms.news.delete_product %}
            <td>Действия</td>
            {% endif %}

        </tr>

        {% for news in news_list %}
        <tr>
            <td>{{ news.title }}</td>
            <td>{{ news.publication_date|date:"d.m.Y" }}</td>
            <td>{{ news.text|slice:":20"|censor }}</td>
            <td>{{ news.category }}</td>
            <td><a href="{% url 'news:news_detail' pk=news.pk %}">Подробнее</a></td>

            <td>
                {% if perms.news.change_product %}
                <a href="{% url 'news:news_edit' pk=news.pk %}">Изменить</a>
                {% endif %}
                {% if perms.news.delete_product %}
                <a href="{% url 'news:news_delete' pk=news.pk %}">Удалить</a>
                {% endif %}
            </td>

        </tr>
        {% endfor %}

    </table>
  {% else %}
        <h2>Новостей нет!</h2>
  {% endif%}

      {% block pagination %}
        {% if is_paginated %}
            <div class="pagination">
                <span class="page-links">
                    {% if page_obj.has_previous %}
                        <a href="{{ request.path }}?page={{ page_obj.previous_page_number }}">Назад</a>
                    {% endif %}
                    <span class="page-current">
                        страница {{ page_obj.number }} из {{ page_obj.paginator.num_pages }}.
                    </span>
                    {% if page_obj.has_next %}
                        <a href="{{ request.path }}?page={{ page_obj.next_page_number }}">Вперед</a>
                    {% endif %}
                </span>
            </div>
        {% endif %}
      {% endblock pagination %}
{% endblock content %}
